﻿<div class="panel panel-default" ng-controller="fl.views.scout.detail as vm">
    
    <div class="panel-heading">
        <button class="btn btn-primary" type="button" ng-click="vm.scoutPerson()">Scout</button>
    </div>

    <div class="container">
    
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">PLAYER INFORMATION</div>
        </div>
        
        <div class="row">
            <div class="col-sm-2">
                <img src="{{vm.person.portrait}}" class="img-responsive" alt="Portrait">
            </div>

            <div class="col-sm-10">
                <div class="col-sm-1">NAME</div>
                <div class="col-sm-3" style="font-weight: bold">{{vm.person.name}}</div>
                <div class="col-sm-2">SCHOOL</div>
                <div class="col-sm-2" style="font-weight: bold">{{vm.person.school}}</div>
                <div class="col-sm-2">POSITION</div>
                <div class="col-sm-2" style="font-weight: bold">{{vm.person.position}}</div>
            </div>    
        </div>
        

        <div class="row">
            <div class="col-sm-4" style="background-color:lightgray">MAJOR FACTORS</div>
            <div class="col-sm-8" style="background-color:lightgray">NOTES</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">PERSONAL/BEHAVIOR</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.evaluation.personalBehavior}}</div>
            <div class="col-sm-8">{{vm.evaluation.personalBehaviorNotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">ATHLETIC ABILITY</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.evaluation.athleticAbility}}</div>
            <div class="col-sm-8">{{vm.evaluation.athleticAbilityNotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">STRENGTH/EXPLOSION</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.evaluation.strengthExplosion}}</div>
            <div class="col-sm-8">{{vm.evaluation.strengthExplosionNotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">COMPETES</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.evaluation.competes}}</div>
            <div class="col-sm-8">{{vm.evaluation.competesNotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">TOUGHS</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.evaluation.toughs}}</div>
            <div class="col-sm-8">{{vm.evaluation.toughsNotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">MENTAL/LEARNING</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.evaluation.mentalLearning}}</div>
            <div class="col-sm-8">{{vm.evaluation.mentalLearningNotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">INJURY/DURABILITY</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.evaluation.injuryDurability}}</div>
            <div class="col-sm-8">{{vm.evaluation.injuryDurabilityNotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">PLAYER SUMMARY</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="font-weight: bold">{{vm.evaluation.playerSummary}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">PLAYER FUTURE</div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="font-weight: bold">{{vm.evaluation.playerFuture}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">STRONG POINTS</div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="font-weight: bold">{{vm.evaluation.strongPoints}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">WEAK POINTS</div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="font-weight: bold">{{vm.evaluation.weakPoints}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">CHARACTER</div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="font-weight: bold">{{vm.evaluation.character}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">BODY DESCRIPTION</div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="font-weight: bold">{{vm.evaluation.bodyDescription}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-4" style="background-color:lightgray">GRADE</div>
            <div class="col-sm-8" style="font-weight: bold">{{vm.evaluation.grade}}</div>
        </div>

    </div>
</div>