﻿<div class="panel panel-default" ng-controller="fl.views.person.detail as vm">
    
    <div class="panel-heading">
        <button class="btn btn-primary" type="button" ng-click="vm.scoutPerson()">Scout</button>
    </div>

    <div class="container">
    
        <div class="row">
            <div class="col-sm-12" style="background-color:lightgray">PLAYER INFORMATION</div>
        </div>

        <div class="row">
            <div class="col-sm-1">NAME</div>
            <div class="col-sm-3" style="font-weight: bold">{{vm.person.name}}</div>
            <div class="col-sm-2">SCHOOL</div>
            <div class="col-sm-2" style="font-weight: bold">{{vm.person.school}}</div>
            <div class="col-sm-2">POSITION</div>
            <div class="col-sm-2" style="font-weight: bold">{{vm.person.position}}</div>
        </div>

        <div class="row">
            <div class="col-sm-4" style="background-color:lightgray">MAJOR FACTORS</div>
            <div class="col-sm-8" style="background-color:lightgray">NOTES</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">PERSONAL/BEHAVIOR</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.person.personalbehavior}}</div>
            <div class="col-sm-8">{{vm.person.personalbehaviornotes}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">ATHLETIC ABILITY</div>
            <div class="col-sm-1" style="font-weight: bold">{{vm.person.athleticability}}</div>
            <div class="col-sm-8">{{vm.person.athleticabilitynotes}}</div>
        </div>

    </div>
</div>