﻿<div class="panel panel-default" ng-controller="fl.views.person.list as vm">

    <div class="panel-heading" style="position: relative;">
        <div class="row">

            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("PersonList") - <span>{{vm.getPersonCountText()}}</span>
                <button class="btn btn-primary" type="button" ng-Click="vm.refreshPeople()">Refresh</button>
            </h3>

            <!-- Task state combobox -->
            @*<div class="col-xs-6 text-right">
                <select ng-model="selectedTaskState">
                    <option value="0">@L("AllTasks")</option>
                    <option value="1">@L("ActiveTasks")</option>
                    <option value="2">@L("CompletedTasks")</option>
                </select>
            </div>*@
        </div>
    </div>

    <!-- Task list -->
    <ul class="list-group" ng-repeat="person in vm.people">
        <div class="list-group-item">
            @*<span class="task-state-icon glyphicon" ng-click="vm.changeTaskState(task)" ng-class="{'glyphicon-minus': task.state == 1, 'glyphicon-ok': task.state == 2}"></span>*@
            @*<span ng-class="{'task-description-active': task.state == 1, 'task-description-completed': task.state == 2 }">{{task.description}}</span>*@
            <span ng-class="person-field">{{person.name}}</span>
            <br />
            @*<span ng-show="task.assignedPersonId">
                <span class="task-assignedto">{{task.assignedPersonName}}</span>
            </span>
            <span class="task-creationtime">{{task.creationTime | momentFromNow}}</span>*@
        </div>
    </ul>

</div>